.CFUserTextEncoding
.DS_Store
.Package Control.sublime-settings
.Trash/
.aliases
.bash_history
.bash_profile
.bashrc
.bundle/
.cache/
.config/
.cups/
.gem/
.gitconfig
.gitconfig.backup
.idlerc/
.irb_history
.irbrc
.lesshst
.local/
.mkshrc
.netrc
.node/
.node_repl_history
.npm/
.nvm/
.oh-my-zsh/
.oracle_jre_usage/
.profile
.psql_history
.rbenv/
.rspec
.sqlite_history
.ssh/
.swiftpm/
.vscode/
.xteve/
.yarnrc
.zcompdump
.zcompdump-MacBook Pro von Tarik-5.8
.zcompdump-MacBook Pro von Tarik-5.8.1
.zlogin
.zprofile
.zprofile.backup
.zsh_history
.zsh_sessions/
.zshrc
.zshrc.backup
.zshrc.pre-oh-my-zsh
.zshrc.save
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
