body {
  font-family: sans-serif;
  margin:0;
  padding: 0;

}
.converter-body{
	width: 400px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0px 0px 2px 1px #cacaca;
  background-color: rgb(177, 186, 195);
}

.submit-btn{
  background: #86B827;
  color: #171e42;
  padding: 10px;
  margin-left: 40px;
  margin-top: 10px;


}
.reset-btn{
  background: #c92e12;
  color: #171e42;
  padding: 10px;
  margin-left: 40px;
  margin-top: 10px;


}

.equal{
  margin-top: 10px;
  margin-left: 30px;
  font-size: 1.5em;
}
#unix-input{
  position: relative;
  margin-bottom: 10px;
  margin-left: 20px;
}

#date-input{

  position: relative;
  margin-bottom: 5px;
  margin-left: 20px;

}
.label{
  margin-left: 20px;
}
